@{
    ViewData["Title"] = "Welcome TO Shpping Mart";
}
<div class="d-flex text-bold justify-content-center align-items-center" style="height: 100vh;">
    <h1 class="display-4">Welcome To Shpping Mart</h1>
</div>
